{% if type == "patient" %}
<div class="form-group required">
    <div class="mb-3">
        <label for="identity" class="form-label">Identity Proof</label>
        <input class="form-control" type="file" id="identity" name="identity">
    </div>
</div>
{% endif %}

{% if type == "health care professionals" %}
<div class="form-group required">
    <div class="mb-3">
        <label for="identity" class="form-label">Identity Proof</label>
        <input class="form-control" type="file" id="identity" name="identity">
    </div>
    <div class="mb-3">
        <label for="license" class="form-label">Doctor license</label>
        <input class="form-control" type="file" id="license"name="license" >
    </div>
</div>
{% endif %}