
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Django Cards</title>
  <style>
    body{
        background-color  : #e6e6e6
    }
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
  </style>
</head>
<body>
{% for message in messages  %}
  <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>
{% endfor %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Patient Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Docs<span class="caret"></span></a>
        <ul class="dropdown-menu">
             <li><a href="your_docs">Your Docs</a></li>
          <li><a href="shared_docs">Shared Docs</a></li>
          <li><a href="upload">Upload Files</a></li>
        </ul>
      </li>
      <li><a href="#"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Change profile<span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Change name</a></li>
            <li><a href="/change_password">Change password</a></li>
            </ul>
        </li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div style="display: flex ; flex-wrap: wrap">

  {% for file in files %}
  {#  Single Card Template:#}
  {% comment %} <div class="card" style="width: 18rem; margin: 10px">
    <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Ffile-folder-in-flat-on-white-background-vector-id1175215972%3Fk%3D20%26m%3D1175215972%26s%3D612x612%26w%3D0%26h%3DfeHYQZBtaj92l-rpFivkPFAHupJz3vEOWqkZ6DXPDNw%3D&sp=1667299063Te04a38d324175bedc3dfd9f9b21a0a6f084043d143ae70ac1a9713144e6a1106" class="card-img-top" >
    <div class="card-body"> {% endcomment %}
    <div class="card text-center" style="width: 18rem; margin: 10px; background-color:white;">
        <img class="card-img-top" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Ffile-folder-in-flat-on-white-background-vector-id1175215972%3Fk%3D20%26m%3D1175215972%26s%3D612x612%26w%3D0%26h%3DfeHYQZBtaj92l-rpFivkPFAHupJz3vEOWqkZ6DXPDNw%3D&sp=1667299063Te04a38d324175bedc3dfd9f9b21a0a6f084043d143ae70ac1a9713144e6a1106" alt="Card image cap">
        <div class="card-body">
        <div class="row align-items-center">
        <div class="col-md-11">
        <h3 class="card-title">{{ file.title }}</h3 >
        </div>
        </div>
        <p class="card-text">{{ file.description }}.</p>
              <form id="submitForm" action="/verify" method="post" ><input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
          {% csrf_token %}
          <input type="hidden" name="file" value={{file.pk}} />
          <button class="btn btn-primary" type="submit">Verify</button>
          
         </form>
         <form id="submitForm" action="/delete" method="post" ><input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
          {% csrf_token %}
          <input type="hidden" name="file" value={{file.pk}} />
          <button class="btn btn-primary" type="submit">Delete</button>
          
         </form>

          <form id="submitForm" action="/sharefile" method="get" ><input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
          {% csrf_token %}
          <input type="hidden" name="filekey" value={{file.pk}} />
          <button class="btn btn-primary" type="submit">sharefile</button>
          
         </form>
        {% comment %} <a href="#" id="verify" file_pk="{{file.pk}}"class="btn btn-primary">Verify</a>
        <a href="#" id="delete" file_pk="{{file.pk}}" class="btn btn-primary">delete</a> {% endcomment %}

  </div>
    

                        
                                
  {% endfor %}

</div>

</body>
</html>
